.nav-bar {
    padding: 10px;
    background: rgb(97, 218, 251);
    display: flex;
    justify-content: space-around;
}

.nav-bar-button {
    background-color: red!important;
    font-size: 18px!important;
    color: white!important;
}
