.pokemon-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pokemon-div {
  margin: 5px;
  text-align: center;
  display: grid;
}

.pokemon {
  text-decoration: none;
  color: white;
}

.pokemon:hover {
  text-decoration: underline;
}

.pokemon-name {
  width: 100%;
}

.progress-div {
  text-align: center;
}

.pokemon-image {
  width: 70%;
  background: lightblue;
}
